@model seoWebApplication.Data.Client

@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

@using (var f = Html.BeginChameleonForm("/Home/Contact",FormMethod.Post))
{
    using (var s = f.BeginSection("Signup for an account"))
    { 
        @s.FieldFor(m => m.CompanyName)
        @s.FieldFor(m => m.FirstName).Label("First Name") 
        @s.FieldFor(m => m.LastName).Label("Last Name")
        @s.FieldFor(m => m.Email)
        @s.FieldFor(m => m.CellPhone).Placeholder("04XX XXX XXX") 
        @s.FieldFor(m => m.Comments)
          }
    using (var n = f.BeginNavigation())
    {
         @n.Submit("Submit")
    }
  
}
 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
