@model seoWebApplication.Data.MenuItem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BaseAdminSingle.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenuItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentMenuItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentMenuItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplaySequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplaySequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAlwaysEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAlwaysEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.webstore_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.webstore_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
