@model seoWebApplication.Data.MenuItem

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_BaseAdminSingle.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MenuItem</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MenuItemId)

        <div class="form-group">
            @Html.LabelFor(model => model.MenuItemName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MenuItemName)
                @Html.ValidationMessageFor(model => model.MenuItemName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Url, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.Url)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentMenuItemId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParentMenuItemId)
                @Html.ValidationMessageFor(model => model.ParentMenuItemId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisplaySequence, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplaySequence)
                @Html.ValidationMessageFor(model => model.DisplaySequence)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAlwaysEnabled, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsAlwaysEnabled)
                @Html.ValidationMessageFor(model => model.IsAlwaysEnabled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.webstore_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.webstore_id)
                @Html.ValidationMessageFor(model => model.webstore_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Admin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Admin)
                @Html.ValidationMessageFor(model => model.Admin)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
