@model IEnumerable<seoWebApplication.Data.webstore>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseAdminSingle.cshtml";
}

<h2>Index</h2>
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.webstoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.webstoreUrl)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.webstoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.webstoreUrl)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
    
         
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.webstore_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.webstore_id })  
        </td>
    </tr>
}

</table>
