@model seoWebApplication.Data.SocialMedia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SocialMedia</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WebstoreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebstoreId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Google)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Google)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddThis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddThis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
